.crop .back__drop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #030205;
}

.crop__container {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 100px;
  z-index: 1200;
  width: 100%;
}

.crop .controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 1200;
}
.crop .slider {
  width: 47%;
  color: rgb(7, 204, 0);
}

.crop select {
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  margin-left: 0.5rem;
  border-radius: 50x;
  background-color: rgb(138, 197, 255);
  font-size: 13px;
  font-weight: bold;
}

.crop option {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}
