@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.reset__password {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reset__password h4 {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}

.reset__password .pass_input {
  background: transparent;
  border: none;
  border-bottom: solid 2px var(--input-border-color);
  color: #fff;
  outline: none;
  width: 100%;
  padding: 0 0.5rem;
}

.reset__password input::placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
}

.reset__password .password__container {
  position: relative;
}

.reset__password .password__container .pas_icon {
  position: absolute;
  right: 0;
}

.reset__password .submit__button {
  background-color: var(--submit-button-background);
  color: rgb(231, 231, 231);
  border-radius: 5px;
  padding: 0.4rem 2rem;
  letter-spacing: 1px;
  font-weight: 500;
  border: none;
  font-size: 15px;
  transition: all 0.5s;
}

.reset__password .submit__button:hover {
  color: #fff;
  background-color: rgb(88, 48, 177);
}
