.buttons__position {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1500;
}
.myStream__after_callReceive {
  position: absolute;
  left: 0%;
  top: 68%;
  width: 20%;
  height: 20%;
  border-radius: 5px;
  object-fit: cover;
  z-index: 1200;
}

.audio__video_mute_button {
  background-color: rgb(243, 243, 243) !important;
}
.delete_button {
  background-color: rgb(255, 164, 164) !important;
}
.receive_button {
  background-color: rgb(190, 205, 253) !important;
}

.callInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  color: white;
  font-weight: 3rem;
  text-align: center;
}

.video {
  width: 45rem;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 680px) {
  .video {
    width: 100%;
  }
}

.timer {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  color: white;
  font-weight: 3rem;
  text-align: center;
}
