.webCamCapture {
	position: relative;
}

.webCamCapture video {
	object-fit: cover !important;
	height: 95vh !important;
}

.webCamCapture .close__webcam {
	position: absolute;
	bottom: 2%;
	left: 0;
}

.webCamCapture .capture__image {
	position: absolute;
	bottom: 2%;
	left: 45%;
}
