@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.login__container > h2 {
  font-family: "Lobster", cursive;
  font-size: 3em;
  color: rgb(255, 57, 22);
  text-shadow: 0px 0px 10px rgba(110, 14, 1, 0.8);
}

.login__container > h5 {
  font-family: "Lobster", cursive;
  letter-spacing: 2px;
  color: rgb(255, 57, 22);
  text-shadow: 0px 0px 10px rgba(110, 14, 1, 0.8);
}

.login__container .MuiSvgIcon-root {
  font-size: 10rem;
  color: rgb(255, 56, 6);
  box-shadow: 1px 2px 10px 5px rgba(179, 28, 2, 0.479);
  margin-bottom: 4rem;
}

.google__btn {
  background: rgb(255, 57, 22);
  padding: 0.6rem 1.7rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  color: whitesmoke;
  letter-spacing: 1px;
}

.google__btn:hover {
  background: rgb(255, 47, 10);
  box-shadow: 0px 0px 6px 3px rgba(88, 21, 0, 0.705);
}
